.video{
    width: 100px;
    height: 50px;
    border: 1px solid;
    margin: 20px;
    background: #4f1588;
    border-radius: 25px;
    font-size: 16px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:default;
    outline: none;
    text-align: center;  
    
  }
  .purple2{
    width: 60%;
    height: 200px;
    border: 1px solid;
    margin: 20px;
    background: #4f1588;
    border-radius: 25px;
    font-size: 14px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:default;
    outline: none;
    margin-left: 280px;
    text-align: justify;
    
    
    
  }