.searchInputs {
    margin-top: 14px;
    display: flex;
  }
  
  .chercher div.searchInputs input{
    background-color: rgb(198, 198, 198);
    border-radius: 10px;
    border: none;
    margin-left: 950px;
    font-size: 18px;
    padding: 17px;
    height: 17px;
    width: 300px;
    margin-top:10px;
    outline: none;
  }

